<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        div{
            background-color: rgb(243 243 243);
        }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <div>
        Name: <%= user.name %> <br>
        Age: <%= user.age %><br>
        Contact: <%= user.contact %><br>
        Email: <%= user.email %>
    </div>
    <h1>User Details 1</h1>
    <div>
        Name: <%= user1.name %> <br>
        Age: <%= user1.age %><br>
        Contact: <%= user1.contact %><br>
        Email: <%= user1.email %>

    </div>
</body>
</html>